USE [master]
GO
/****** Object:  Database [BookStore]    Script Date: 2/29/2020 11:19:14 PM ******/
CREATE DATABASE [BookStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BookStore.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BookStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BookStore_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStore]
GO
/****** Object:  Table [dbo].[BookinBuild]    Script Date: 2/29/2020 11:19:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BookinBuild](
	[bookID] [varchar](30) NOT NULL,
	[buildID] [varchar](100) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK__BookinBu__60359EC69261D473] PRIMARY KEY CLUSTERED 
(
	[bookID] ASC,
	[buildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2/29/2020 11:19:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Books](
	[bookID] [varchar](30) NOT NULL,
	[titleBook] [nvarchar](30) NOT NULL,
	[author] [nvarchar](30) NOT NULL,
	[descriptionBook] [nvarchar](50) NOT NULL,
	[imagerName] [varchar](30) NULL,
	[price] [varchar](30) NOT NULL,
	[quantityBook] [int] NOT NULL,
	[category] [varchar](30) NOT NULL,
	[statusBook] [varchar](10) NOT NULL,
	[dateCreate] [varchar](30) NULL,
 CONSTRAINT [PK__Books__8BE5A12D7C3AB618] PRIMARY KEY CLUSTERED 
(
	[bookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Builds]    Script Date: 2/29/2020 11:19:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Builds](
	[buildID] [varchar](100) NOT NULL,
	[dateBuild] [datetime] NOT NULL,
	[totalBuild] [varchar](30) NOT NULL,
	[payment] [varchar](20) NOT NULL,
	[statusBuild] [nvarchar](100) NULL,
	[descriptionBuild] [nvarchar](100) NULL,
	[userID] [varchar](20) NOT NULL,
	[paymentOnlineStatus] [nchar](10) NULL,
 CONSTRAINT [PK__Builds__BD03FEBFB72189C7] PRIMARY KEY CLUSTERED 
(
	[buildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 2/29/2020 11:19:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Discount](
	[discountID] [varchar](20) NOT NULL,
	[descriptionDiscount] [nvarchar](50) NOT NULL,
	[codeDiscount] [varchar](20) NOT NULL,
	[DateDiscount] [nchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[discountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserHaveDiscount]    Script Date: 2/29/2020 11:19:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserHaveDiscount](
	[discountID] [varchar](20) NOT NULL,
	[userID] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[discountID] ASC,
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/29/2020 11:19:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [varchar](20) NOT NULL,
	[pass] [varchar](20) NOT NULL,
	[roleUser] [varchar](20) NOT NULL,
	[phone] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BookinBuild] ([bookID], [buildID], [quantity]) VALUES (N'BOOK2', N'linhnd02-25-2020 16:10:02', 1)
INSERT [dbo].[BookinBuild] ([bookID], [buildID], [quantity]) VALUES (N'BOOK2', N'linhnd02-25-2020 16:15:31', 1)
INSERT [dbo].[BookinBuild] ([bookID], [buildID], [quantity]) VALUES (N'BOOK2', N'linhnd02-28-2020 09:56:19', 1)
INSERT [dbo].[Books] ([bookID], [titleBook], [author], [descriptionBook], [imagerName], [price], [quantityBook], [category], [statusBook], [dateCreate]) VALUES (N'BOOK1', N'Đắc Nhân Tâm', N'Nguyễn Văn A', N'Sách Văn học viết về văn học', N'imager1.jpg', N'20000', 10, N'AAA', N'ready', N'null')
INSERT [dbo].[Books] ([bookID], [titleBook], [author], [descriptionBook], [imagerName], [price], [quantityBook], [category], [statusBook], [dateCreate]) VALUES (N'BOOK2', N'Sống giản dị', N'Nguyễn Văn B', N'Sách đời sống văn học việt nam', N'imager2.jpg', N'25000', 9, N'BBB', N'ready', N'null')
INSERT [dbo].[Books] ([bookID], [titleBook], [author], [descriptionBook], [imagerName], [price], [quantityBook], [category], [statusBook], [dateCreate]) VALUES (N'BOOK3', N'Tôi và các bạn', N'Nguyễn Văn A', N'Sách đời Kinh tế ', N'imager3.jpg', N'15000', 9, N'AAA', N'ready', N'null')
INSERT [dbo].[Builds] ([buildID], [dateBuild], [totalBuild], [payment], [statusBuild], [descriptionBuild], [userID], [paymentOnlineStatus]) VALUES (N'linhnd02-23-2020 15:17:28', CAST(N'2020-02-23 15:17:28.000' AS DateTime), N'15000.0', N'cod', N'Da Thanh Toan', N'linh', N'linhnd', NULL)
INSERT [dbo].[Builds] ([buildID], [dateBuild], [totalBuild], [payment], [statusBuild], [descriptionBuild], [userID], [paymentOnlineStatus]) VALUES (N'linhnd02-25-2020 16:05:19', CAST(N'2020-02-25 16:05:19.000' AS DateTime), N'9600.0', N'cod', N'Da thanh toanKm 20%', N'222 Võ Chí Công', N'linhnd', NULL)
INSERT [dbo].[Builds] ([buildID], [dateBuild], [totalBuild], [payment], [statusBuild], [descriptionBuild], [userID], [paymentOnlineStatus]) VALUES (N'linhnd02-25-2020 16:10:02', CAST(N'2020-02-25 16:10:02.000' AS DateTime), N'37000.0', N'cod', N'Da Thanh Toan', N'22', N'linhnd', NULL)
INSERT [dbo].[Discount] ([discountID], [descriptionDiscount], [codeDiscount], [DateDiscount]) VALUES (N'DIS', N'khuyen mai 20%', N'20', N'02-25-2020 16:19:35 ')
INSERT [dbo].[Discount] ([discountID], [descriptionDiscount], [codeDiscount], [DateDiscount]) VALUES (N'DISCOUNT', N'khuyến mãi giảm 20 %', N'20', NULL)
INSERT [dbo].[Discount] ([discountID], [descriptionDiscount], [codeDiscount], [DateDiscount]) VALUES (N'DISCOUNT1', N'khuyến mãi 50%', N'50', NULL)
INSERT [dbo].[UserHaveDiscount] ([discountID], [userID]) VALUES (N'DIS', N'admin')
INSERT [dbo].[UserHaveDiscount] ([discountID], [userID]) VALUES (N'DIS', N'longnd')
INSERT [dbo].[UserHaveDiscount] ([discountID], [userID]) VALUES (N'DISCOUNT', N'linhnd')
INSERT [dbo].[Users] ([userID], [pass], [roleUser], [phone]) VALUES (N'admin', N'admin', N'admin', N'admin')
INSERT [dbo].[Users] ([userID], [pass], [roleUser], [phone]) VALUES (N'linhnd', N'123456', N'user', N'0822201930')
INSERT [dbo].[Users] ([userID], [pass], [roleUser], [phone]) VALUES (N'longnd', N'123456', N'user', N'0822201930')
ALTER TABLE [dbo].[BookinBuild]  WITH CHECK ADD  CONSTRAINT [FK__BookinBui__bookI__1920BF5C] FOREIGN KEY([bookID])
REFERENCES [dbo].[Books] ([bookID])
GO
ALTER TABLE [dbo].[BookinBuild] CHECK CONSTRAINT [FK__BookinBui__bookI__1920BF5C]
GO
ALTER TABLE [dbo].[BookinBuild]  WITH CHECK ADD  CONSTRAINT [FK__BookinBui__build__1A14E395] FOREIGN KEY([buildID])
REFERENCES [dbo].[Builds] ([buildID])
GO
ALTER TABLE [dbo].[BookinBuild] CHECK CONSTRAINT [FK__BookinBui__build__1A14E395]
GO
ALTER TABLE [dbo].[Builds]  WITH CHECK ADD  CONSTRAINT [FK__Builds__userID__145C0A3F] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Builds] CHECK CONSTRAINT [FK__Builds__userID__145C0A3F]
GO
ALTER TABLE [dbo].[UserHaveDiscount]  WITH CHECK ADD FOREIGN KEY([discountID])
REFERENCES [dbo].[Discount] ([discountID])
GO
ALTER TABLE [dbo].[UserHaveDiscount]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
USE [master]
GO
